<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Hello Everyone upload an image of either apple or banana so that this site can tell what it is!!</h3>
    <form action="/upload_img" method="post" enctype="multipart/form-data">
    <input type="file" name="picture_upload" id="picture_upload">
        <input type="submit" value="Submit">
</form>
</body>
</html>